.toolbar-item-spacer {
  flex: 1 1 auto;
}
.app-container {
  height: 100%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  height: 100%;
  width: 100%;
  padding: 10px;
}
mat-icon {
  vertical-align: middle;
}
mat-list-item {
  span {
    vertical-align: middle;
  }
}
.list-icon-text{
  display: flex; align-items: center;
}
